{% extends 'layout.html' %}

{% block title %} Car Models {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">  {% endblock %}


{% block body %}

    <h1>Car Models</h1>

    <div class="flash-messages">
        {% for msg in get_flashed_messages() %}
            <div class="flash-message sucess danger">{{ msg }}</div>
        {% endfor %}
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>ModelName</th>
                <th>CategoryID</th>
                <th>EngineID</th>
                <th>Model Specifications</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ model[1] }}</td>
                <td>{{ model[2] }}</td>
                <td>{{ model[3] }}</td>
                <td>{{ model[4] }}</td>
                <td>
                    <a class="edit-link" href="{{ url_for('manage_car_model.edit_carmodel', model_id=model[0]) }}">Edit</a>
                    <a class="delete-link" href="{{ url_for('manage_car_model.delete_carmodel', model_id=model[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

