<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Models</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
</head>
<body>
    <h1>Car Models</h1>

    <table border="1">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>ModelName</th>
                <th>CategoryID</th>
                <th>EngineID</th>
                <th>ModelSpecifications</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ model[1] }}</td>
                <td>{{ model[2] }}</td>
                <td>{{ model[3] }}</td>
                <td>{{ model[4] }}</td>
                <td>
                    <a href="{{ url_for('manage_car_model.edit_carmodel', model_id=model[0]) }}">Edit</a>
                    <a href="{{ url_for('manage_car_model.delete_carmodel', model_id=model[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
