{% extends 'layout.html' %}

{% block title %} Car Variants {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">  {% endblock %}


{% block body %}

    <h1>Car Variants</h1>
    <div class="flash-messages">
        {% for msg in get_flashed_messages() %}
            <div class="flash-message sucess danger ">{{ msg }}</div>
        {% endfor %}
    </div>

    <table border="2">
        <thead>
            <tr>
                <th>S.NO.</th>
                <th>Model Name</th>
                <th>Color Name</th>
                <th>Category Name</th>
                <th>Variant Name</th>
                <th>Mileage</th>
                <th>Price</th>

                {% if role == 'Admin' %}
                    <th>Action</th>
                {% endif %}
            
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>

                {% if role == 'Admin' %}
                    <td>
                        <a class="edit-link" href="{{ url_for('manage_car_variant.edit_carvariant', variant_id=row[0]) }}">Edit</a>
                        <a class="delete-link" href="{{ url_for('manage_car_variant.delete_carvariant', variant_id=row[0]) }}">Delete</a>
                    </td>
                {% endif %}
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="add_link" href="{{ url_for('manage_car_variant.add_carvariant') }}"> <i class="bi bi-plus-lg"></i> Add New Variant</a>
{% endblock %}

