{% extends 'layout.html' %}

{% block title %} Car Colors {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">  {% endblock %}


{% block body %}

    <h1>Car Colors</h1>

    <div class="flash-messages">
        {% for msg in get_flashed_messages() %}
            <div class="flash-message sucess danger">{{ msg }}</div>
        {% endfor %}
    </div>

    <table>
        <thead>
            <tr>
                <th>S.NO.</th>
                <th>ColorName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for color in colors %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ color[1] }}</td>
                <td>
                    <a class="edit-link" href="{{ url_for('manage_car_color.edit_car_color', color_id=color[0]) }}">Edit</a>
                    <a class="delete-link" href="{{ url_for('manage_car_color.delete_car_color', color_id=color[0]) }}" onclick="return confirmDelete(event)" >Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function confirmDelete(event) {
            if (!confirm("Are you sure you want to delete this color")) {
                event.preventDefault(); // Prevent the default link behavior
            }
        }
    </script>

{% endblock %}


