{% extends 'layout.html' %}

{% block title %} Car Engines {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">  {% endblock %}


{% block body %}

    <h1>Car Engines</h1>
    <div class="flash-messages">
        {% for msg in get_flashed_messages() %}
            <div class="flash-message  sucess danger">{{ msg }}</div>
        {% endfor %}
    </div>

    <table border="2">
        <thead>
            <tr>
                <th>S.NO.</th>
                <th>EngineName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row[1] }}</td>
                <td>
                    <a class="edit-link" href="{{ url_for('manage_car_engine.edit_car_engine' , engine_id = row[0]) }}">Edit</a>
                    <a class="delete-link" href="{{ url_for('manage_car_engine.delete_car_engine' , engine_id = row[0]) }}" >Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="add_link" href="{{ url_for('manage_car_engine.add_carengine')}}"> <i class="bi bi-plus-lg"></i> Add New Engine</a>


{% endblock %}

