<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Variants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Car Variants</h1>

    <table border="2">
        <thead>
            <tr>
                <th>Variant Name</th>
                <th>Model Name</th>
                <th>Color Name</th>
                <th>Category Name</th>
                <th>Variant Name</th>
                <th>Mileage</th>
                <th>Engine Type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
