<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Finance Data</h1>

    <table border="2">
        <thead>
            <tr>
                <th>FinanceID</th>
                <th>SaleID</th>
                <th>PaymentID</th>
                <th>InstallmentID</th>
                <th>FinancingTerm</th>
                <th>InterestRate</th>
            </tr>
        </thead>
        <tbody>
            {% for row in finances %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
