<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installment Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
</head>
<body>
    <h1>Installment Data</h1>

    <table border="2">
        <thead>
            <tr>
                <th>InstallmentID</th>
                <th>InstallmentNumber</th>
                <th>DueDate</th>
                <th>InstallmentAmount</th>
                <th>RemainingAmount</th>
                <th>TotalInstallment</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
