/* CSS for Manage Cars Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Style for the table header */
table th {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Style for the table rows */
table tr {
    text-align: center;
}

/* Style for table cells */
table td {
    padding: 10px;
}

/* Style for the "Edit" and "Delete" links */
a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

/* Style for the "Edit" link */
a.edit-link {
    color: #28a745;
}

/* Style for the "Delete" link */
a.delete-link {
    color: #dc3545;
}

/* Flash messages */
.flash-messages {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}

/* Style for success flash messages */
.flash-message.success {
    background-color: #28a745;
    color: #fff;
}

/* Style for danger flash messages */
.flash-message.danger {
    background-color: #dc3545;
    color: #fff;
}
