h1 {
    text-align: center;
}

table {
    width: 70%;
    margin-left: 250px;
}

/* Style for the table header */
table th {
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* Style for the table rows */
table tr {
    text-align: center;
}

/* Style for table cells */
table td {
    padding: 8px;
}

/* Style for the "Edit" and "Delete" links */
a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

/* Style for the "Edit" link */
a.edit-link {
    color: #28a745;
}

/* Style for the "Delete" link */
a.delete-link {
    color: #dc3545;
}

/* Flash messages */
.flash-messages {
    width: 70%;
    margin-left: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

/* Style for success flash messages */
.flash-message.success {
    background-color: #28a745;
    color: #fff;
}

/* Style for danger flash messages */
.flash-message.danger {
    background-color: #dc3545;
    color: #fff;
}
