<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Finance Record</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete/delete.css') }}">
</head>
<body>
    <h1>Delete Finance Record</h1>
    <form method="POST" action="{{ url_for('delete_finance') }}">
        <label for="finance_to_delete">Select Finance Record to Delete:</label>
        <select id="finance_to_delete" name="finance_to_delete" required>
            {% for finance in finances %}
            <option value="{{ finance[0] }}">{{ finance[1] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Delete Finance Record">
    </form>
</body>
</html>
