<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete SalesPerson</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/delete.css')}}">
</head>
<body>
    <h1>Delete SalesPerson</h1>
    <form method="POST" action="{{ url_for('delete_salesperson') }}">
        <label for="sp_to_delete">Select SalesPerson to Delete:</label>
        <select id="sp_to_delete" name="sp_to_delete" required>
            {% for salesperson in salespersons %}
            <option value="{{ salesperson[0] }}">{{ salesperson[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Delete SalesPerson">
    </form>
</body>
</html>
