{% extends 'layout.html' %}

{% block title %} Delete Model {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}">  {% endblock %}


{% block body %}

    <h1>Delete Car Model</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('manage_car_model.delete_carmodel', model_id=model_data[0]) }}">

        <p>Are you sure you want to delete the following Model ?</p>
        <p>Model : {{ model_data[1] }}</p>
        <p>Category : {{ model_data[2] }}</p>
        <p>Engine : {{ model_data[3] }}</p>
        <p>Model Specifications : {{ model_data[4] }}</p>

        <button type="submit">Delete Model</button>
    </form>

    <a class="backlink" href="/manage_car_model"><i class="bi bi-box-arrow-left"></i>&nbsp;Back to Car Models</a>

{% endblock %}
