{% extends 'layout.html' %}

{% block title %} Delete Car {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}">  {% endblock %}


{% block body %}
    <h1>Delete Car</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('manage_car.delete_car', car_id=car_data[0]) }}">
        <p>Are you sure you want to delete the following car?</p>
        <p>Variant : {{ car_data[1] }}</p>
        <p>Category : {{ car_data[2] }}</p>
        <p>Engine : {{ car_data[3] }}</p>
        <p>Color : {{ car_data[4] }}</p>
        <p>Model : {{ car_data[5] }}</p>
        <p>Mileage: {{ car_data[6] }}</p>
        <p>MFD Year: {{ car_data[7] }}</p>
        <p>Company: {{ car_data[8] }}</p>
        

        <button type="submit">Delete Car</button>
    </form>

    <a class="backlink" href="/manage_car"><i class="bi bi-box-arrow-left"></i>&nbsp;Back to Cars</a>
{% endblock %}
