<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Car</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='manage/delete.css') }}">
</head>
<body>
    <h1>Delete Car</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{ url_for('manage_car_model.delete_carmodel', model_id=model_data[0]) }}">

        <p>Are you sure you want to delete the following Model ?</p>
        <p>Model ID: {{ model_data[0] }}</p>
        <p>Model : {{ model_data[1] }}</p>
        <p>Category : {{ model_data[2] }}</p>
        <p>Engine : {{ model_data[3] }}</p>
        <p>Model Specifications : {{ model_data[4] }}</p>

        <button type="submit">Delete Car</button>
    </form>
</body>
</html>
