<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Car Variant</title>
    <link rel= "stylesheet" href="{{url_for('static', filename='css/delete/carcolor.css')}}"></link>
</head>
<body>
    <h1>Delete Car Variant</h1>
    <form method="POST" action="{{ url_for('car_variant.delete_carvariant') }}">
        <label for="variant_to_delete">Select Car Variant to Delete:</label>
        <select id="variant_to_delete" name="variant_to_delete" required>
            {% for variant in variants %}
            <option value="{{ variant[0] }}">{{ variant[0] }} [ {{ variant[1] }} ] </option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Delete Car Variant</button>
    </form>
</body>
</html>
