<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Car Engine</title>
    <link rel= "stylesheet" href="{{url_for('static', filename='css/delete.css')}}"></link>
</head>
<body>
    <h1>Delete Car Engine</h1>
    <form method="POST" action="/carengine/delete">
        <label for="engine_to_delete">Select Engine to Delete:</label>
        <select id="engine_to_delete" name="engine_to_delete">
            {% for engine in engines %}
            <option value="{{ engine[0] }}">{{ engine[1] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Delete Car Engine</button>

        <!-- Display flashed messages -->
        {% for message in get_flashed_messages() %}
        <div class="flash-message">
            {{ message }}
        </div>
        {% endfor %}
    </form>
</body>
</html>
