{% extends 'layout.html' %}

{% block title %} Delete Category {% endblock %}

{% block stylesheet %} <link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}">  {% endblock %}


{% block body %}

    <h1>Delete Car Category</h1>

    <form method="POST" action="/carcategory/delete">
        <label for="category_to_delete">Select Category to Delete:</label>
        <select name="category_to_delete" id="category_to_delete">
            {% for category in categories %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>

        <button type="submit">Delete Car Category</button>

        <!-- Display flashed messages -->
        {% for message in get_flashed_messages() %}
        <div class="flash-message">
            {{ message }}
        </div>
        {% endfor %}
    </form>

    <a href="/carcategory">Back to Car Category</a>
    
{% endblock %}
