{% extends 'layout.html' %}

{% block title %} Delete Car Color {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}">
{% endblock %}

{% block body %}

<h1>Delete Car Color</h1>

<div class="alert alert-warning" role="alert">
    <strong>Warning:</strong> On deleting the following color, all associated cars of this color will also be deleted and removed from the car list.
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
    {% for category, message in messages %}
    <div class="flash-message {{ category }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('manage_car_color.delete_car_color', color_id=color_data[0]) }}">
    <p>Are you sure you want to proceed?</p>
    <p>Color : <strong>{{ color_data[1] }}</strong></p>
    <label for="confirmation">Type <strong>"delete"</strong> to confirm:</label>
    <input type="text" id="confirmation" name="confirmation">
    <br><br>
    <button type="submit">Delete Color</button>
</form>

<a class="backlink" href="{{ url_for('manage_car_color.carcolor_table') }}"><i class="bi bi-box-arrow-left"></i>&nbsp;Back to Car Colors</a>

{% endblock %}
