/* CSS for Edit Car Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    /* background-color: #333; */
    color: #fff;
    padding: 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 350px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* Flash messages */
.flash-messages {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}

/* Style for success flash messages */
.flash-message.success {
    background-color: #28a745;
    color: #fff;
}

.backlink{
    text-align: center;
    text-decoration:none;
    display: flex;
    justify-content: center;
    font-size:larger;
}

