/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Header styles */
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Info card styles */
.info-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.info-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.info-card h2 {
    font-size: 20px;
    margin: 0;
}

.info-card p {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

/* Section links styles */
.section-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    background-color: #007BFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.section a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-size: 18px;
}

.section a:hover {
    background-color: #0056b3;
}

.nav2 {
    background-color: rgb(203, 209, 219);
}

/* Footer styles */
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex-grow: 1;
    max-width: none;
    margin: 0 auto;
    padding: 20px;
}
