/* CSS for View Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */

}

h1 {
    text-align: center;
    color: #333;
    padding: 20px; 
    margin-top: 20px;

    /* background-color: #333; */
    /* color: #fff; */
}

table {
    width: 97%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout:inherit;
    border: 1px slategrey;
    /* width: 600px;
    max-width: 700px; */
}

/* Style for the table header */
table th {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    /* border: 1px slategrey; */
    /* font-weight: bold; */
}

/* Style for the table rows */
table tr {
    text-align: center;
    
}

/* Style for table cells */
table td {
    padding: 10px;
}


/* Style for the "Edit" and "Delete" links */
a {
    text-decoration: none;
    color: #072442;
    margin-right: 10px;
}

/* Style for the "Edit" link */
a.edit-link {
    text-decoration:none;
    color: #28a745;
}

/* Style for the "Delete" link */
a.delete-link {
    text-decoration:none;
    color: #dc3545;
}

/* Flash messages */
.flash-messages {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
}

/* Style for success flash messages */
.flash-message.success {
    background-color: #28a745;
    color: #fff;
}

/* Style for danger flash messages */
.flash-message.danger {
    background-color: #dc3545;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
    
}

h3{
    text-align: center;
    color: #333;
    padding: 20px; 
    margin-top: 20px;
}

.link{
    text-decoration:none;
}

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
}


.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination a {
    text-decoration: none;
    padding: 5px 15px; /* Adjust padding for more gap */
    border: 1px solid #333;
    background-color: #ffffff;
    color: #000000;
    margin: 0 10px; /* Adjust margin for more gap */
    border-radius: 10px; /* Add border-radius for a rounded shape */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a:hover {
    background-color: #2889a7; /* Change color on hover */
}


.add_link{
    text-align: center;
    text-decoration:none;
    display: flex;
    justify-content: center;
    font-size:larger;
}


