<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add SalesPerson</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/add.css')}}">
</head>
<body>
    <h1>Add SalesPerson</h1>
    <form method="POST" action="{{ url_for('add_salesperson') }}">
        <label for="sp_name">SalesPerson Name:</label>
        <input type="text" id="sp_name" name="sp_name" required>
        <br>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <br><br>
        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required>
        <br><br>
        <label for="mobile_no">Mobile Number:</label>
        <input type="text" id="mobile_no" name="mobile_no" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="address1">Address Line 1:</label>
        <input type="text" id="address1" name="address1" required>
        <br>
        <label for="address2">Address Line 2:</label>
        <input type="text" id="address2" name="address2" required>
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>
        <br>
        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>
        <br>
        <label for="pincode">Pin Code:</label>
        <input type="text" id="pincode" name="pincode" required>
        <br>
        <input type="submit" value="Add SalesPerson">
    </form>
</body>
</html>
