<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Car Variant</title>
    <link rel= "stylesheet" href="{{url_for('static', filename='css/add.css')}}"></link>
</head>
<body>
    <h1>Add Car Variant</h1>
    <form method="POST" action="{{ url_for('manage_car_variant.add_carvariant') }}">
        <label for="model_id">Model:</label>
        <select id="model_id" name="model_id" required>
            {% for model in models %}
            <option value="{{ model[0] }}">{{ model[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="color_id">Color:</label>
        <select id="color_id" name="color_id" required>
            {% for color in colors %}
            <option value="{{ color[0] }}">{{ color[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="category_id">Category:</label>
        <select id="category_id" name="category_id" required>
            {% for category in categories %}
            <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="variant_name">Variant Name:</label>
        <input type="text" id="variant_name" name="variant_name" required maxlength="100">
        <br>
        <label for="mileage">Mileage:</label>
        <input type="number" step="0.01" id="mileage" name="mileage" >
        <br>
        <label for="price">Price:</label>
        <input type="number" step="1" id="price" name="price" required maxlength="10">
        <br>
        <input type="submit" value="Add Car Variant">
    </form>
</body>
</html>
