<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Car Engine</title>
    <link rel= "stylesheet" href="{{url_for('static', filename='css/add.css')}}"></link>
    
</head>
<body>
    <h1>Add Car Engine</h1>
    <form method="POST" action="{{ url_for('manage_car_engine.add_carengine') }}">
        <label for="engine_id">Engine ID:</label>
        <input type="text" id="engine_id" name="engine_id" required>
        <br><br>
        <label for="engine_name">Engine Name:</label>
        <input type="text" id="engine_name" name="engine_name" required maxlength="100">
        <br><br>
        <input type="submit" value="Add Engine">
    </form>
</body>
</html>
