<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <link rel= "stylesheet" href="{{url_for('static', filename='css/add.css')}}"></link>
</head>
<body>
    <h1>Add Customer</h1>
    <form method="POST" action="/customer/add">
        <label for="c_name">Name:</label>
        <input type="text" id="c_name" name="c_name" required>
        <br>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <br>
        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required>
        <br><br>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required>
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="address1">Address Line 1:</label>
        <input type="text" id="address1" name="address1" required>
        <br>
        <label for="address2">Address Line 2:</label>
        <input type="text" id="address2" name="address2" required>
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>
        <br>
        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>
        <br>
        <label for="pincode">Pincode:</label>
        <input type="text" id="pincode" name="pincode" required>
        <br>
        <input type="submit" value="Add Customer">
    </form>

    <div class="flash-messages">
        {% for msg in get_flashed_messages() %}
            <div class="flash-message">{{ msg }}</div>
        {% endfor %}
    </div>
</body>
</html>
