{% extends 'layout.html' %}

{% block title %} Add Car {% endblock %}

{% block stylesheet %} <link rel= "stylesheet" href="{{url_for('static', filename='css/add.css')}}"></link>  {% endblock %}


{% block body %}

    <h1>Add Car</h1>
    <form method="POST" action="{{ url_for('manage_car.add_car') }}">
        <label for="variant_id">Variant:</label>
        <select id="variant_id" name="variant_id" required>
            {% for variant in variants %}
            <option value="{{ variant[0] }}">{{ variant[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="category_id">Category:</label>
        <select id="category_id" name="category_id" required>
            {% for category in categories %}
            <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="engine_id">Engine:</label>
        <select id="engine_id" name="engine_id" required>
            {% for engine in engines %}
            <option value="{{ engine[0] }}">{{ engine[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="color_id">Color:</label>
        <select id="color_id" name="color_id" required>
            {% for color in colors %}
            <option value="{{ color[0] }}">{{ color[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="model_id">Model:</label>
        <select id="model_id" name="model_id" required>
            {% for model in models %}
            <option value="{{ model[0] }}">{{ model[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="vin">VIN:</label>
        <input type="number" id="vin" name="vin" required maxlength="17" max = "9147483647">
        <br>
        <label for="mileage">Mileage:</label>
        <input type="number" step="0.01" id="mileage" name="mileage" required min="10.00" max="30.00" maxlength="4">
        <br>
        <label for="year_of_manufacture">Year of Manufacture:</label>
        <input type="number" id="year_of_manufacture" name="year_of_manufacture" required min="1900" max="2999" >
        <br>
        <label for="brand_company">Brand/Company:</label>
        <input type="text" id="brand_company" name="brand_company" required maxlength="25">
        <br>
        <input type="submit" value="Add Car">
        
        <div class="flash-messages">
            {% for msg in get_flashed_messages() %}
                <div class="flash-message">{{ msg }}</div>
            {% endfor %}
        </div>
    </form>

    <a class="backlink" href="/manage_car"> <i class="bi bi-box-arrow-left"></i>&nbsp;Back to Cars</a>

{% endblock %}