{% extends 'layout.html' %}

{% block title %} Add Category {% endblock %}

{% block stylesheet %} <link rel= "stylesheet" href="{{url_for('static', filename='css/add.css')}}"></link>  {% endblock %}


{% block body %}

    <h1>Add Car Category</h1>
    <form method="POST"  action="{{ url_for('manage_car_category.add_carcategory') }}">
        
        <label for="category_name">Category Name:</label>
        <input type="text" id="category_name" name="category_name" required maxlength="100">
        <br><br>
        <input type="submit" value="Add Category">
        &nbsp &nbsp
        <a href="http://127.0.0.1:5000/dashboard" class="go-back-button">Go Back</a>


        <div class="flash-messages">
            {% for msg in get_flashed_messages() %}
                <div class="flash-message">{{ msg }}</div>
            {% endfor %}
        </div>
        
    </form>

{% endblock %}
