{% extends 'layout.html' %}

{% block title %} Add Color {% endblock %}

{% block stylesheet %} <link rel= "stylesheet" href="{{url_for('static', filename='css/add.css')}}"></link>  {% endblock %}


{% block body %}

    <h1>Add Car Color</h1>
    <form method="POST" action="{{ url_for('manage_car_color.add_carcolor') }}">
        <label for="color_name">Color Name:</label>
        <input type="text" id="color_name" name="color_name" required maxlength="15">
        <br>
        <input type="submit" value="Add Car Color">
        
        <div class="flash-messages">
            {% for msg in get_flashed_messages() %}
                <div class="flash-message">{{ msg }}</div>
            {% endfor %}
        </div>

    </form>

    <a class="backlink" href="/manage_car_color"> <i class="bi bi-box-arrow-left"></i>&nbsp;Back to Colors</a>

{% endblock %}
