<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Color</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/car_pages.css') }}">
</head>

<body>
    <h1>Car Color Page</h1>
    <div class="button-container">

        <div>
            <a href="{{ url_for('car_model.carmodel_table')}}" class="">View Car Models</a>
        </div>

        <div>
            <a href="{{ url_for('car_model.add_carmodel') }}" class="">Add Car Model</a>
        </div>

        <div>
            <a href="{{url_for('car_model.edit_carmodel')}}" class="">Edit Car Model</a>
        </div>

        <div>
            <a href="{{url_for('car_model.delete_carmodel')}}" class="">Delete Car Model</a>
        </div>

    </div>
</body>

</html>

</body>

</html>