<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Color</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'style.css') }}">
</head>

<body>
    <h1>Car Color Page</h1>
    <div class="button-container">

        <div>
            <a href="{{ url_for('carcolor.carcolor_table')}}" class="">View Car Colors</a>
        </div>

        <div>
            <a href="{{ url_for('carcolor.add_carcolor') }}" class="">Add Car Colors</a>
        </div>

        <div>
            <a href="{{url_for('carcolor.edit_car_color')}}" class="">Edit Car Colors</a>
        </div>

        <div>
            <a href="{{url_for('carcolor.delete_car_color')}}" class="">Delete Car Colors</a>
        </div>

    </div>
</body>

</html>

</body>

</html>