<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Color</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/car_pages.css') }}">
</head>

<body>
    <h1>Car Category Page</h1>
    <div class="button-container">

        <div>
            <a href="{{ url_for('car_category.carcategory_table')}}" class="">View Car Categories</a>
        </div>

        <div>
            <a href="{{ url_for('car_category.add_carcategory') }}" class="">Add Car Categories</a>
        </div>

        <div>
            <a href="{{url_for('car_category.edit_car_category')}}" class="">Edit Car Categories</a>
        </div>

        <div>
            <a href="{{url_for('car_category.delete_car_category')}}" class="">Delete Car Categories</a>
        </div>

    </div>
</body>

</html>

</body>

</html>