<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} - CMS</title>

    {% block stylesheet %}   {% endblock %}

    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 


    <!-- Own CSS Link  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"> 

</head>
<body>

    <!-- ------------------------------------------ Navbar Start --------------------------- -->
      <!-- navbar from bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid nav1 ">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('auth.dashboard') }}">Car Management System (CMS)</a>
			</div>
			<font style="color: white"><span><strong>Welcome to CMS {{ username }} </strong></span></font>
			<!-- <font style="color: white"><span><strong>Email:</strong></font> -->
		    <ul class="nav navbar-nav navbar-right">
		      <!-- <li class="nav-item dropdown">
	        	<a class="nav-link dropdown-toggle" data-toggle="dropdown">My Profile </a>
	        	<div class="dropdown-menu">
	        		<a class="dropdown-item" href="view_profile.php">View Profile</a>
	        		<div class="dropdown-divider"></div>
	        		<a class="dropdown-item" href="edit_profile.php">Edit Profile</a>
	        		<div class="dropdown-divider"></div>
	        		<a class="dropdown-item" href="change_password.php">Change Password</a>
	        	</div>
		      </li> -->
		      <li class="nav-item">
		        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
		      </li>
		    </ul>
		</div>
	</nav><br>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid nav2">
          <a class="navbar-brand" href="{{ url_for('auth.dashboard') }}">CMS </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

              <!-- Car Link -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Car
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('manage_car.manage_car_table')}}">Manage Car</a></li>
                <li><a class="dropdown-item" href="{{ url_for('manage_car.add_car') }}">Add New Car</a></li>
                  
                </ul>
              </li>

              <!-- Car Variant -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Variant
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('manage_car_variant.carvariant_table')}}">Manage Variant</a></li>
                <li><a class="dropdown-item" href="{{ url_for('manage_car_variant.add_carvariant') }}">Add New Variant</a></li>
                
                </ul>
              </li>

              <!-- Car Variant -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Model
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('manage_car_model.carmodel_table') }}">Manage Model</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('manage_car_model.add_carmodel')}}">Add New Model</a></li>
                  </ul>
              </li>
            
              <!-- Car Color -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Color
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('manage_car_color.carcolor_table')}}">Manage Color</a></li>
                <li><a class="dropdown-item" href="{{url_for('manage_car_color.add_carcolor')}}">Add New Color</a></li>
                  
                </ul>
              </li>

              <!-- Car Category -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('manage_car_color.carcolor_table')}}">Manage Category</a></li>
                <li><a class="dropdown-item" href="{{ url_for('manage_car_category.add_carcategory')}}">Add New Category</a></li>
                  
                </ul>
              </li>

              <!-- Car Engine -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Engine
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('manage_car_engine.carengine_table')}}">Manage Engine</a></li>
                <li><a class="dropdown-item" href="{{ url_for('manage_car_engine.add_carengine')}}">Add New Engine</a></li>
                  
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<!-- ---------------------------------------------------- Navbar End ----------------------------------- -->



<!-- ---------------------------------- BODY ------------------------------------------------------------ -->

<div class="wrapper">
  <div class="content">
      {% block body %}   {% endblock %}
  </div>
</div>

<!-- ---------------------------------------- Footer --------------------------------------------------  -->
<!-- Footer Start -->

<footer id="footer" class="bg-dark text-white text-center py-3">
  <div class="container">
      <p>&copy; {{ current_year }} Car Management System. All rights reserved.</p>
      <p>Developed by <a href="#" target="_blank" class="text-info">Lokesh Dangi</a></p>
  </div>
</footer>

<!-- Footer End -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
