<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car Variant</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}">
</head>
<body>
    <h1>Edit Car Variant</h1>
    <form method="POST" action="{{ url_for('car_variant.edit_carvariant') }}">
        <label for="variant_id">Select Car Variant to Edit:</label>
        <select id="variant_id" name="variant_id" required>
            {% for variant in variants %}
            <option value="{{ variant[0] }}">{{ variant[4] }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="field_to_update">Field to Update:</label>
        <select id="field_to_update" name="field_to_update" required>
            <option value="ModelID">Model</option>
            <option value="ColorID">Color</option>
            <option value="CategoryID">Category</option>
            <option value="VariantName">Variant Name</option>
            <option value="Mileage">Mileage</option>
            <option value="EngineType">Engine Type</option>
            <option value="Price">Price</option>
        </select>
        <br>

        <label for="updated_value">New Value:</label>
        <input type="text" id="updated_value" name="updated_value" required>
        <br>

        <input type="submit" value="Update">
    </form>

    {% for msg in get_flashed_messages() %}
        <div>{{ msg }}</div>
    {% endfor %}
</body>
</html>
