{% extends 'layout.html' %}

{% block title %} Edit Color {% endblock %}

{% block stylesheet %} <link rel= "stylesheet" href="{{url_for('static', filename='css/edit.css')}}"></link>  {% endblock %}


{% block body %}

    <h1>Edit Car Color</h1>
    <form method="POST" action="{{ url_for('manage_car_color.edit_car_color', color_id = color_data[0]) }}">

        <label for="new_color_name">New Color Name:</label>
        <input type="text" id="new_color_name" name="new_color_name" value="{{ color_data[1] }}" maxlength="15" required>
        <br>
        
        <input type="submit" value="Save New Name">
        &nbsp &nbsp
        
        <a href="/manage_car_color" class="go-back-button">Go Back</a>
    
        <div class="flash-messages">
            {% for msg in get_flashed_messages() %}
                <div class="flash-message">{{ msg }}</div>
            {% endfor %}
        </div>
    </form>

    <a class="backlink go-back-button" href="/manage_car_color" ><i class="bi bi-box-arrow-left"></i>&nbsp;Back to Car Colorss</a>
{% endblock %}
