{% extends 'layout.html' %}

{% block title %} Edit Variant {% endblock %}

{% block stylesheet %} <link rel= "stylesheet" href="{{url_for('static', filename='css/edit.css')}}"></link>  {% endblock %}


{% block body %}

    <h1>Edit Car Variant</h1>
    <form method="POST" action="{{ url_for('manage_car_variant.edit_carvariant', variant_id=variant_data[0]) }}">
        
        <label for="new_model_id">New Model:</label>
        <select id="new_model_id" name="new_model_id" required>
            {% for model in models %}
            <option value="{{ model[0] }}" {% if model[0] == variant_data[1] %}selected{% endif %}>{{ model[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="new_color_id">New Color:</label>
        <select id="new_color_id" name="new_color_id" required>
            {% for color in colors %}
            <option value="{{ color[0] }}" {% if color[0] == variant_data[2] %}selected{% endif %}>{{ color[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="new_category_id">New Category:</label>
        <select id="new_category_id" name="new_category_id" required>
            {% for category in categories %}
            <option value="{{ category[0] }}" {% if category[0] == variant_data[3] %}selected{% endif %}>{{ category[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="new_variant_name">New Variant Name:</label>
        <input type="text" id="new_variant_name" name="new_variant_name" value="{{ variant_data[4] }}" maxlength="20">
        <br>
        <label for="new_mileage">New Mileage:</label>
        <input type="number" id="new_mileage" name="new_mileage" value="{{ variant_data[5] }}" min="10.00" max="30.00" maxlength="4" step="0.01">
        <br>
        <label for="new_price">New Price:</label>
        <input type="number" id="new_price" name="new_price" value="{{ variant_data[6] }}" max="5000000" step="0.01">
        <br><br>

        <input type="submit" value="Save Changes">
        &nbsp &nbsp
        
        <div class="flash-messages">
            {% for msg in get_flashed_messages() %}
                <div class="flash-message">{{ msg }}</div>
            {% endfor %}
        </div>

    </form>


    <a class="backlink go-back-button" href="/manage_car_variant" ><i class="bi bi-box-arrow-left"></i>&nbsp;Back to Car Variants</a>

{% endblock %}
