<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car Color</title>
    <link rel= "stylesheet" href="{{url_for('static', filename='css/edit.css')}}"></link>
</head>
<body>
    <h1>Edit Car Color</h1>
    <form method="POST" action="{{ url_for('manage_car_color.edit_car_color', color_id = color_data[0]) }}">

        <label for="new_color_name">New Color Name:</label>
        <input type="text" id="new_color_name" name="new_color_name" value="{{ color_data[1] }}" maxlength="15" required>
        <br>
        
        <input type="submit" value="Save New Color Name">
    
        <div class="flash-messages">
            {% for msg in get_flashed_messages() %}
                <div class="flash-message">{{ msg }}</div>
            {% endfor %}
        </div>
    </form>
</body>
</html>
