<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car Engine</title>
    <link rel= "stylesheet" href="{{url_for('static', filename='css/edit.css')}}"></link>
</head>
<body>
    <h1>Edit Car Engine</h1>
    <form method="POST"  action="{{ url_for('manage_car_engine.edit_car_engine', engine_id = engine_data[0]) }}">
      
        <label for="new_engine_name">New Engine Name:</label>
        <input type="text" id="new_engine_name" name="new_engine_name" value="{{ engine_data[1] }}" maxlength="15" required>
        <br>

        <input type="submit" value="Save New Engine Name">
        
        <div class="flash-messages">
            {% for msg in get_flashed_messages() %}
                <div class="flash-message">{{ msg }}</div>
            {% endfor %}
        </div>
    </form>
</body>
</html>
