<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit SalesPerson</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}">
</head>
<body>
    <h1>Edit SalesPerson</h1>
    <form method="POST" action="{{ url_for('salesperson.edit_salesperson') }}">
        <label for="salesperson_id">Select SalesPerson to Edit:</label>
        <select id="salesperson_id" name="salesperson_id" required>
            {% for salesperson in salespersons %}
            <option value="{{ salesperson[0] }}"> [ {{ salesperson[0] }} ] {{ salesperson[1] }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="field_to_update">Field to Update:</label>
        <select id="field_to_update" name="field_to_update" required>
            <option value="SP_Name">Name</option>
            <option value="Gender">Gender</option>
            <option value="DateOfBirth">Date of Birth</option>
            <option value="MobileNo">Mobile Number</option>
            <option value="email">Email</option>
            <option value="Address1">Address Line 1</option>
            <option value="Address2">Address Line 2</option>
            <option value="City">City</option>
            <option value="State">State</option>
            <option value="PinCode">Pin Code</option>
        </select>
        <br>

        <label for="updated_value">New Value:</label>
        <input type="text" id="updated_value" name="updated_value" required>
        <br>

        <input type="submit" value="Update">
    </form>

    <div class="flash-messages">
        {% for msg in get_flashed_messages() %}
            <div class="flash-message">{{ msg }}</div>
        {% endfor %}
    </div>
</body>
</html>
