<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}">
</head>
<body>
    <h1>Edit Customer</h1>
    <form method="POST" action="{{ url_for('customer.edit_customer') }}">
        <label for="customer_id">Select Customer to Edit:</label>
        <select id="customer_id" name="customer_id" required>
            {% for customer in customers %}
            <option value="{{ customer[0] }}">{{ customer[1] }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="field_to_update">Field to Update:</label>
        <select id="field_to_update" name="field_to_update" required>
            <option value="C_Name">Name</option>
            <option value="Gender">Gender</option>
            <option value="DateOfBirth">Date of Birth</option>
            <option value="Phone">Phone</option>
            <option value="Email">Email</option>
            <option value="Address1">Address Line 1</option>
            <option value="Address2">Address Line 2</option>
            <option value="City">City</option>
            <option value="State">State</option>
            <option value="PinCode">Pin Code</option>
        </select>
        <br>

        <label for="updated_value">New Value:</label>
        <input type="text" id="updated_value" name="updated_value" required>
        <br>

        <input type="submit" value="Update">
    </form>

    <div class="flash-messages">
        {% for msg in get_flashed_messages() %}
            <div class="flash-message">{{ msg }}</div>
        {% endfor %}
    </div>
</body>
</html>
