<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Payment</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}">
</head>
<body>
    <h1>Edit Payment</h1>
    <form method="POST" action="{{ url_for('payment.edit_payment') }}">
        <label for="payment_to_edit">Select Payment to Edit:</label>
        <select id="payment_to_edit" name="payment_to_edit" required>
            {% for payment in payments %}
            <option value="{{ payment[0] }}">{{ payment[0] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="new_installment_id">New Installment:</label>
        <select id="new_installment_id" name="new_installment_id" required>
            {% for installment in installments %}
            <option value="{{ installment[0] }}">{{ installment[1] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="new_payment_amount">New Payment Amount:</label>
        <input type="number" step="0.01" id="new_payment_amount" name="new_payment_amount" required>
        <br><br>
        <label for="new_payment_date">New Payment Date:</label>
        <input type="date" id="new_payment_date" name="new_payment_date" required>
        <br><br>
        <label for="new_payment_method">New Payment Method:</label>
        <input type="text" id="new_payment_method" name="new_payment_method" required>
        <br><br>
        <label for="new_transaction_id">New Transaction ID:</label>
        <input type="text" id="new_transaction_id" name="new_transaction_id" required>
        <br><br>
        <label for="new_payment_due">New Payment Due:</label>
        <input type="date" id="new_payment_due" name="new_payment_due" required>
        <br><br>
        <label for="new_down_payment">New Down Payment:</label>
        <input type="number" step="0.01" id="new_down_payment" name="new_down_payment" required>
        <br><br>
        <input type="submit" value="Edit Payment">
    </form>
</body>
</html>
