<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='manage/edit.css') }}">
</head>
<body>
    <h1>Edit Car</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

    <form method="POST" action="{{ url_for('manage_car.edit_car', car_id=car_data[0]) }}">
        
        <label for="variant_id">Variant:</label>
        <select id="variant_id" name="variant_id">
            {% for variant in variants %}
            <option value="{{ variant[0] }}" {% if variant[0] == car_data[1] %}selected{% endif %}> {{ variant[4] }}</option>
            {% endfor %}
        </select>
        <br />

        <label for="category_id">Category:</label>
        <select id="category_id" name="category_id">
            {% for category in categories %}
            <option value="{{ category[0] }}" {% if category[0] == car_data[2] %}selected{% endif %}> {{ category[1] }}</option>
            {% endfor %}
        </select>
        <br />

        <label for="engine_id">Engine:</label>
        <select id="engine_id" name="engine_id">
            {% for engine in engines %}
            <option value="{{ engine[0] }}" {% if engine[0] == car_data[3] %}selected{% endif %}> {{ engine[1] }}</option>
            {% endfor %}
        </select>
        <br />

        <label for="color_id">Color:</label>
        <select id="color_id" name="color_id">
            {% for color in colors %}
            <option value="{{ color[0] }}" {% if color[0] == car_data[4] %}selected{% endif %}> {{ color[1] }}</option>
            {% endfor %}
        </select>
        <br />

        <label for="model_id">Model:</label>
        <select id="model_id" name="model_id">
            {% for model in models %}
            <option value="{{ model[0] }}" {% if model[0] == car_data[5] %}selected{% endif %}> {{ model[1] }}</option>
            {% endfor %}
        </select>
        <br />

        <label for="mileage">Mileage:</label>
        <input type="text" id="mileage" name="mileage" value="{{ car_data[6] }}" required min="10.00" max="30.00" maxlength="4" step="0.01" />
        <br />

        <label for="year_manufacture">Year of Manufacture:</label>
        <input type="text" id="year_manufacture" name="year_manufacture" value="{{ car_data[7] }}" required maxlength="4" placeholder="YYYY" />
        <br />

        <label for="brand_company">Brand/Company:</label>
        <input type="text" id="brand_company" name="brand_company" value="{{ car_data[8] }}" required maxlength="25" />
        <br />

        <input type="submit" value="Update" />
    </form>
</body>
</html>
