<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">

</head>
<body>
    <h1>User Registration</h1>
    <form method="POST" action="{{ url_for('auth.register') }}" id="registration-form">

        <!-- flash message -->
        <div class="flash-messages">
            {% for msg in get_flashed_messages() %}
                <div class="flash-message">{{ msg }}</div>
            {% endfor %}
        </div>
        
        {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required maxlength="25" minlength="4">
        <br><br>

       
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required maxlength="25" minlength="8">
        <br><br>

       
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required maxlength="25" minlength="8">
        <br><br>

        
        <input type="submit" value="Register">
    </form>

    <p>Already have an account? 
        <a href="{{ url_for('auth.user_login_form') }}">Login User</a><br>
        <a href="{{ url_for('auth.login_form') }}">Login Admin</a>
    </p>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const registrationForm = document.getElementById('registration-form');
        registrationForm.addEventListener('submit', function (event) {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            let usernameError = '';
            let passwordError = '';

            // Check for username format
            if (/^\d+$/.test(username)) {
                usernameError = 'Username cannot consist of only numbers.';
            }

            // Check for password format
            if (!/\d/.test(password) || !/[!@#$%^&*]/.test(password)) {
                passwordError = 'Password must contain at least one number and one special symbol.';
            }

            // Check if password is the same as the username
            if (username === password) {
                passwordError = 'Password cannot be the same as the username.';
            }

            // Display specific error messages
            if (usernameError || passwordError) {
                event.preventDefault(); // Prevent the form from submitting

                if (usernameError && passwordError) {
                    alert(usernameError + '\n' + passwordError);
                } else if (usernameError) {
                    alert(usernameError);
                } else {
                    alert(passwordError);
                }
            }
        });
    });
</script>


</html>
