<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <h1>Car Section Dashboard</h1>
    <div class="button-container">
        <!-- Car Section -->
        <div>
            <a href="{{ url_for('dashboard.car_dashboard') }}" class="">Car Section</a>
        </div>

        <!-- Car Model Section -->
        <div>
            <a href="{{ url_for('dashboard.carmodel_dashboard') }}" class="">Car Model Section</a>
        </div>

        <!-- Car Color Section -->
        <div>
            <a href="{{ url_for('dashboard.carcolor_dashboard') }}" class="">Car Color Section</a>
        </div>

        <!-- Car Category Section -->
        <div>
            <a href="{{ url_for('dashboard.carcategory_dashboard') }}" class="">Car Category Section</a>
        </div>

        <!-- Car Variant Section -->
        <div>
            <a href="{{ url_for('dashboard.carvariant_dashboard')}}" >Car Variant Section</a>
        </div>

        <!-- Car Engine Section -->
        <div>
            <a href="{{ url_for('dashboard.carengine_dashboard')}}" >Car Engine Section</a>
        </div>
    </div>
</body>
</html>
