<label for="variant_id">Variant:</label>
<select id="variant_id" name="variant_id">
    {% for variant in variants %}
    <option value="{{ variant.VariantID }}" {% if variant.VariantID == car_data.VariantID %}selected{% endif %}>{{ variant.VariantName }}</option>
    {% endfor %}
</select>
<br />

<label for="category_id">Category:</label>
<select id="category_id" name="category_id">
    {% for category in categories %}
    <option value="{{ category.CategoryID }}" {% if category.CategoryID == car_data.CategoryID %}selected{% endif %}>{{ category.CategoryName }}</option>
    {% endfor %}
</select>
<br />

<label for="engine_id">Engine:</label>
<select id="engine_id" name="engine_id">
    {% for engine in engines %}
    <option value="{{ engine.EngineID }}" {% if engine.EngineID == car_data.EngineID %}selected{% endif %}>{{ engine.EngineName }}</option>
    {% endfor %}
</select>
<br />

<label for="color_id">Color:</label>
<select id="color_id" name="color_id">
    {% for color in colors %}
    <option value="{{ color.ColorID }}" {% if color.ColorID == car_data.ColorID %}selected{% endif %}>{{ color.ColorName }}</option>
    {% endfor %}
</select>
<br />

<label for="model_id">Model:</label>
<select id="model_id" name="model_id">
    {% for model in models %}
    <option value="{{ model.ModelID }}" {% if model.ModelID == car_data.ModelID %}selected{% endif %}>{{ model.ModelName }}</option>
    {% endfor %}
</select>
<br />
