<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Cars</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='manage/manage.css') }}">
</head>
<body>
    <h1>Manage Cars</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <table class="table table-bordered table-hover" border="2">
        <thead>
            <tr>
                <th>Car ID</th>
                <th>Variant</th>
                <th>Color</th>
                <th>Category</th>
                <th>Engine</th>
                <th>Model</th>
                <th>VIN</th>
                <th>Mileage</th>
                <th>Year of Manufacture</th>
                <th>Brand/Company</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car[0] }}</td>
                <td>{{ car[1] }}</td>
                <td>{{ car[2] }}</td>
                <td>{{ car[3] }}</td>
                <td>{{ car[4] }}</td>
                <td>{{ car[5] }}</td>
                <td>{{ car[6] }}</td>
                <td>{{ car[7] }}</td>
                <td>{{ car[8] }}</td>
                <td>{{ car[9] }}</td>
                <td>
                    <a href="{{ url_for('manage_car.edit_car', car_id=car[0]) }}">Edit</a>
                    <a href="{{ url_for('manage_car.delete_car', car_id=car[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
